<<<<<<< HEAD
@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Common
 */

html {
	position: relative;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
=======
body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
=======
	margin:0px;
	padding:0px;
>>>>>>> 43a24faa69bbd151b8fec987ee56df7de02c39b7
>>>>>>> 2f0813143d9d93724458ff791ae5501a83b7fc94
}
