header {
<<<<<<< HEAD
    width: 100%;
    background-color: #FF0000;
    height: 70px;
=======
	background-color:#FF0000;
	height:70px;
	width:100%;
>>>>>>> 43a24faa69bbd151b8fec987ee56df7de02c39b7
}
